/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}



body{
font-family: arial, helvetica, sans-serif;
font-size: 12px;
background-color: rgb(41, 40, 40);
}
